<% content_for :title, "Editing friend" %>

<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="d-flex gap-2">
  <%= link_to "Show this friend", @friend, class: "btn btn-secondary" %>
  <%= link_to "Delete", @friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-danger" %>
  <%= link_to "Back to friends", friends_path, class: "btn btn-secondary" %>
</div>
